django==4.2.2
djangorestframework==3.14.0
python-dotenv==1.0.0
django-ckeditor==6.5.1
django-cors-headers==4.0.0
gunicorn==21.2.0
psycopg2-binary==2.9.6
djangorestframework-simplejwt==5.2.2
django_extensions==3.2.3
python-dateutil==2.8.2